SECRET_KEY=django-insecure-<your-django-secret-key>  # you can create secret key using command -> openssl rand -base64 32
ALLOWED_HOSTS=your-ip-1,your-ip-2,port-1,port-2
DATABASE_URL=postgresql://your-user:your-password@localhost:5432/your-db
CORS_ALLOWED_ORIGINS=http://your-ip-1,http://your-ip-2:port
