SECRET_KEY=django-insecure-<your-django-sercret-key>  # You can generate secret using command -> openssl rand -base64 32
ALLOWED_HOSTS=localhost,8000
CORS_ALLOWED_ORIGINS=http://your-ip-1,http://your-ip-2
POSTGRES_DB=rbt
POSTGRES_USER=postgres
POSTGRES_PASSWORD=securepassword
DATABASE_URL=postgresql://POSTGRES_DB-VAR:POSTGRES_PASSWORD-VAR@DB-SERVICE-NAME:5432/POSTGRES_DB-VAR
